.checked-checkbox {
    color: greenyellow; 
  }
  
  .unchecked-checkbox {
    color: #9150F0; 
  }

  .srchBox{

    border-bottom: '3px solid #9150F0';
    justify-content: 'center';
    top: '-115px';
    width: '23%';
    left: '64.5%';
    border-radius: '10px';
  }

  @media screen and (max-width: 412) {
    .table-container {
      overflow-x: scroll;

    }

    .img-style{
      font-size: 14px;
      margin-top: 29%;
      width: 100%;
      height: 69%;
      top: 59%;
    }
    .srchBox{
    border-bottom: 3px solid rgb(145, 80, 240);
    justify-content: center;
    top: -119px;
    width: 71%;
    left: 14.5%;
    border-radius: 4px;
  }
     
  }
  